{% extends "newbase.html" %}
{% block title %}Game Select{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/filter.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/Animated-Pretty-Product-List-v12.css')}}">
<script src="{{ url_for('static', filename='bootstrap/js/filter.js')}}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/Animated-Pretty-Product-List-v12.js')}}"></script>
{% endblock %}
{% block content %}
<main class="page lanidng-page" style="background: #393E46;min-height: 100vh;">
    <section class="portfolio-block block-intro" style="height: 390px;padding-top: 60px;">
        <div class="container">
            <div class="avatar"
                style="border-radius: 50px;background: url(&quot;static/img/robot02_90810.png&quot;) center / contain;border-style: none;border-color: rgb(0,188,212);box-shadow: 0px 0px 10px 3px rgb(0,188,212);">
            </div>
            <div class="about-me">
                <p style="color: #EEEEEE;">Choose your challenge.</p>

                <form action="{{ url_for('main.guide') }}" style="padding: 4px;">

                    <button class="btn btn-lg" type="submit"
                        style="background: #222831;width: 160px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;">Need
                        Help?</button>



                </form>



            </div>
        </div>
    </section>
    <div class="card shadow" style="background: #393E46;">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">

                    <div id="myBtnContainer">

                        <button class="btn active" class="btn" onclick="filterSelection('all_games')"> Show all</button>
                        <button class="btn" onclick="filterSelection('col-started')"> Started</button>
                        <button class="btn" onclick="filterSelection('completed_games')"> Completed</button>

                    </div>


                </div>

            </div>



            <div class="container">
                <div class="row product-list dev">

                    <div class="filterDiv all_games">
                        {% for info in all_games %}
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                            <div class="product-container"
                                style="background: #222831;border-style: none;border-color: rgb(0,188,212);">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image"
                                            href="{{ url_for('ctf.play', games_name=info.name) }}"
                                            style="height: 225px;padding: 0;"><img
                                                src="static/img/ctf_images/{{info.image}}"
                                                style="width: 100%;height: 100%;" /></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2><a href="#" style="color: var(--bs-white);">{{info.name}}</a></h2>
                                        <p style="color: var(--bs-white);">Category: {{info.category}}</p>
                                        <p style="color: var(--bs-white);">Difficulty: {{info.difficulty}}</p>
                                    </div>
                                    <div class="col-4"><a class="small-text" href="#"
                                            style="color: rgb(0,188,212);font-family: Lora, serif;"><img
                                                style="width: 22px;height: 22px;margin-right: 4px;"
                                                src="static/img/profile/{{info.user.image}}" />{{info.user.name}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 d-grid" >
                                        <form action="{{ url_for('ctf.play', games_name=info.name) }}">
                                        <button
                                            class="btn" type="submit"
                                            style="background: #222831;margin: 0 auto;width: 96px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;">Play</button>
                                        </form>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    

                    <div class="filterDiv col-started">
                        {% for info in started_games %}
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                            <div class="product-container"
                                style="background: #222831;border-style: none;border-color: rgb(0,188,212);">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image"
                                            href="{{ url_for('ctf.play', games_name=info.games.name) }}"
                                            style="height: 225px;padding: 0;"><img
                                                src="static/img/ctf_images/{{info.games.image}}"
                                                style="width: 100%;height: 100%;" /></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2><a href="#" style="color: var(--bs-white);">{{info.games.name}}</a></h2>
                                        <p style="color: var(--bs-white);">Category: {{info.games.category}}</p>
                                        <p style="color: var(--bs-white);">Difficulty: {{info.games.difficulty}}</p>
                                    </div>
                                    <div class="col-4"><a class="small-text" href="#"
                                            style="color: rgb(0,188,212);font-family: Lora, serif;"><img
                                                style="width: 22px;height: 22px;margin-right: 4px;"
                                                src="static/img/profile/{{info.user.image}}" />{{info.user.name}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 d-grid" >
                                        <form action="{{ url_for('ctf.play', games_name=info.games.name) }}">
                                        <button
                                            class="btn" type="submit"
                                            style="background: #222831;margin: 0 auto;width: 96px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;">Play</button>
                                        </form>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="filterDiv completed_games">
                        {% for info in completed_games %}
                        <div class="col-sm-6 col-md-4 product-item animation-element slide-top-left">
                            <div class="product-container"
                                style="background: #222831;border-style: none;border-color: rgb(0,188,212);">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image"
                                            href="{{ url_for('ctf.play', games_name=info.games.name) }}"
                                            style="height: 225px;padding: 0;"><img
                                                src="static/img/profile/{{info.user.image}}"
                                                style="width: 100%;height: 100%;" /></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <h2><a href="#" style="color: var(--bs-white);">{{info.games.name}}</a></h2>
                                        <p style="color: var(--bs-white);">Category: {{info.games.category}}</p>
                                        <p style="color: var(--bs-white);">Difficulty: {{info.games.difficulty}}</p>
                                    </div>
                                    <div class="col-4"><a class="small-text" href="#"
                                            style="color: rgb(0,188,212);font-family: Lora, serif;"><img
                                                style="width: 22px;height: 22px;margin-right: 4px;"
                                                src="static/img/profile/{{info.user.image}}" />{{info.user.name}}</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 d-grid" >
                                        <form action="{{ url_for('ctf.play', games_name=info.games.name) }}">
                                        <button
                                            class="btn" type="submit"
                                            style="background: #222831;margin: 0 auto;width: 96px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;">Play</button>
                                        </form>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                </div>




            </div>
            
           
        </div>


    </div>
    </div>
</main>

<script>filterSelection("all_games")</script>

{% endblock %}