{% extends "newbase.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<main class="page lanidng-page" style="background: #393E46;min-height: 100vh;">
    <section class="portfolio-block block-intro" style="height: 370px;padding-top: 60px;">
        <div class="container">
            <div class="avatar" style="border-radius: 50px;background: url(&quot;static/img/robot02_90810.png&quot;) center / contain;border-style: none;border-color: rgb(0,188,212);box-shadow: 0px 0px 10px 3px rgb(0,188,212);"></div>
            <div class="about-me">
                <p style="color: #EEEEEE;">Welcome to CTFBuddy.</p>
                <p style="color: #EEEEEE;">I will be your personal hacking assistant. Ready to learn CTFs?&nbsp;&nbsp;</p>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xxl-4" style="margin: 0 auto;margin-top: 20px;"><a href="{{ url_for('main.gameselect') }}"><img class="card-img-top scale-on-hover" src="static/img/flag_play.png" alt="Card Image" style="background: #222831;width: 100%;height: 100%;border-radius: 20px;border-style: solid;border-color: #222831;"></a></div>
            <div class="col-md-6 col-xxl-4" style="margin: 0 auto;margin-top: 20px;"><a href="{{ url_for('main.guide') }}"><img class="card-img-top scale-on-hover" src="static/img/howToPlay.png" alt="Card Image" style="background: #222831;width: 100%;height: 100%;border-style: solid;border-color: #222831;border-radius: 20px;"></a></div>
        </div>
    </div>
    <section class="portfolio-block skills" style="border-bottom-style: none;">
        <div class="container">
            <div class="heading">
                <h2 style="color: rgb(255,255,255);">Features</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="background: #222831;height: 100%;padding-top: 20px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-flag" style="background: #393E46;"></i></div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: rgb(255,255,255);">Fully Assisted Capture the Flags</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="background: #222831;height: 100%;padding-top: 20px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-wrench" style="background: #393E46;"></i></div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: rgb(255,255,255);">Learn Popular Offensive Categories</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" style="background: #222831;height: 100%;padding-top: 20px;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-person-stalker" style="background: #393E46;"></i></div>
                        <div class="card-body" style="background: #222831;">
                            <h3 class="card-title" style="color: rgb(255,255,255);">For all Skill Levels</h3>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}