{% extends "newbase.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<main class="page lanidng-page" style="background: #393E46;min-height: 100vh;">
    <section class="portfolio-block block-intro" style="height: 395px;padding-top: 60px;">
        <div class="container">
            <div class="avatar" style="border-radius: 50px;background: url(&quot;static/img/robot02_90810.png&quot;) center / contain;box-shadow: 0px 0px 10px 3px rgb(0,188,212);"></div>
            <div class="about-me">
                <p style="color: #EEEEEE;margin: 0;margin-bottom: 22px;">Download and Launch the CTF bellow to get started. Let me know when you are ready.<br></p>
            </div>
        </div>
        <div class="container"><a href="play" data-bs-target="play"><button class="btn btn-lg" type="submit" style="background: #222831;width: 140px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;">Ready!</button></a><button class="btn btn-lg" type="submit" style="background: #222831;margin-left: 66px;width: 140px;color: rgb(0,188,212);border-style: solid;border-radius: 10px;box-shadow: 0px 0px 5px 2px rgb(0,188,212);">I need Help</button></div>
    </section>
    <div class="container">
        <div class="row" style="margin-top: 21px;">
            <div class="col-md-6 col-xxl-4" style="margin: 0 auto;margin-top: 20px;width: 450px;height: 425px;"><a href="play-menu"><img class="card-img-top scale-on-hover" style="background: #222831;border-style: solid;border-color: #222831;border-radius: 20px;height: 100%;width: 100%;padding: 60px;" alt="Card Image" src="static/img/download.png"></a></div>
        </div>
    </div>
    <section class="portfolio-block skills" style="border-bottom-style: none;"></section>
</main>
{% endblock %}