{% extends "newbase.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<main class="page lanidng-page" style="background: #393E46;min-height: 100vh;">
    <div id="content" style="position: relative;background: #393E46;border: 1px none var(--bs-red);border-top-style: none;border-bottom-color: rgb(237, 225, 82);box-shadow: 0px 0px 6px;">
        <div class="container-fluid">
            <h3 class="mb-4" style="color: rgb(255,255,255);margin-left: 4px;margin-top: 19px;padding-top: 14px;">Account Information</h3>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card mb-3" style="border-style: none;">
                        <div class="card-body text-center" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);"><img class="rounded-circle mb-3 mt-4" src="static/img/robot02_90810.png" width="160" height="160">
                            <div class="mb-3"><button class="btn btn-lg" type="submit" style="background: #222831;width: 140px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;font-size: 15px;">Change Avatar</button></div>
                            <div class="mb-3"><a href="{{ url_for('auth.logout') }}"><button class="btn btn-lg" type="submit" style="background: #222831;width: 140px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;font-size: 15px;">Logout</button></a></div>
                        </div>
                    </div>
                    <div class="card shadow mb-4" style="border-style: none;">
                        <div class="card-header py-3" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);">
                            <h6 class="fw-bold m-0" style="color: rgb(255,255,255);">Statistics</h6>
                        </div>
                        <div class="card-body" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);border-bottom-color: rgb(0,188,212);">
                            <h4 style="color: var(--bs-white);" class="small fw-bold">CTF's Completed<span class="float-end">4</span></h4>
                            <h4 style="color: var(--bs-white);" class="small fw-bold">Total Points<span class="float-end">4128</span></h4>
                            <h4 style="color: var(--bs-white);" class="small fw-bold">Strongest Subject<span class="float-end">7</span></h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3" style="background: var(--bs-gray-900);border-style: none;">
                                <div class="card-header py-3" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);">
                                    <p class="m-0 fw-bold" style="color: rgb(255,255,255);">User Settings</p>
                                </div>
                                <div class="card-body" style="border: 1px solid rgb(0,188,212) ;">
                                    <form>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><input class="form-control" type="text" id="username-1" placeholder="user.name" name="username"></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><input class="form-control" type="email" id="email-2" placeholder="user@example.com" name="email"></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-lg" type="submit" style="background: #222831;width: 140px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;font-size: 15px;">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                            <div class="card shadow mb-3" style="border-style: none;">
                                <div class="card-header py-3" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);">
                                    <p class="m-0 fw-bold" style="color: rgb(255,255,255);">Change Password</p>
                                </div>
                                <div class="card-body" style="background: var(--bs-gray-900);border: 1px solid rgb(0,188,212);border-bottom-color: rgb(0,188,212);">
                                    <form>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><input class="form-control" type="text" id="username-2" placeholder="current password" name="username"></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><input class="form-control" type="email" id="email-3" placeholder="new password" name="email"><input class="form-control" type="email" id="email-1" placeholder="repeat password" name="email" style="margin-top: 15px;"></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-lg" type="submit" style="background: #222831;width: 140px;color: rgb(0,188,212);border-style: solid;border-color: #222831;border-radius: 10px;box-shadow: 0px 0px 5px 2px;font-size: 15px;">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
