{% extends "newbase.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/Login-Form-Dark.css')}}">
{% endblock %}
{% block content %}
<main class="page lanidng-page" style="background: #393E46;min-height: 100vh;">
    <section class="login-dark">
        <form method="post" action="/signup">
            <h2 class="visually-hidden">Login Form</h2>
            <h2 class="text-center">Register</h2>
            <div class="illustration"><i class="icon ion-ios-personadd-outline"></i></div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div style="color: rgb(255,0,0);" class="text-center notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Username"></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="mb-3"><input class="form-control" type="password" name="confirm_password"
                    placeholder="Confirm Password"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Register</button></div><a
                class="forgot" href="{{ url_for('auth.login') }}">Already have an account? Login here</a>
        </form>
    </section>
</main>



{% endblock %}